*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.container{
    width: 50vmin;
    background-color:darkblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.input-wrapper{
    display: flex;
    margin: 20px 0;
}

.input{
    padding: 15px;
    border: none;
    border-radius: 20px 0 0 20px ;
}
.input:focus{
    outline: none;
}

.inputBtn{
    padding: 15px;
    border: none;
    border-radius: 0px 20px 20px 0;
}

.inputBtn:hover{
    transition: 0.5s;
    background-color: red;
}



.list{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.task-item{
    margin: 10px;
    color: aliceblue;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.task {
  display: inline;
  color: white;
}

.deleteBtn {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
}

.deleteBtn:hover {
  background-color: darkred;
  transition: 0.3s;
}